@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100dvh / 720 * 16);
}

body,
#root {
  background-color: #ffe3e5;
  font-family: "Inria Sans", sans-serif;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
}

.MenuHorizontal {
  font-size: smaller;
  width: 100%;
  min-height: 3.125rem;
  border-bottom: .0625rem solid #d5d5d5;
  display: flex;
  justify-content: space-between;
  background-color: #ffa3ce;
  color: #4a4a4a;
}

.Titulo {
  margin: .625rem;
}

.MenuHorizontal_DD {
  margin: .9375rem;
  display: flex;
  gap: .3125rem;
  color: #4a4a4a;
}
.MenuHorizontal_DD button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
button{
  font-size: 1rem;
}
.Conteudo {
  display: flex;
  padding: 1.25rem;
  align-items: center;
  height: 100%;
  gap: 1.25rem;
  max-height: calc(100dvh - 3.125rem);
}
.flex {
  display: flex;
}

.flip-v {
  transform: scaleY(-1);
}

.arrowOpen {
  transition: transform 0.2s;
  color: #ffa3ce ;
  margin-left: .3125rem;
  cursor: pointer;
}

.ListaDespesas::-webkit-scrollbar {
  background-color: #fdd1b6;
  width: .625rem;
  border-top-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
}
.ListaDespesas::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: .3125rem;
}

.ListaDespesas {
  width: 23.4375rem;
  min-width: 23.4375rem;
  max-width: 23.4375rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100%;
  max-height: 100%;
  padding: .9375rem;
  padding-top: 0;
  background-color: #fdd1b6;
  border-radius: .3125rem;
}

.ListaGrupo {
  padding-left: .625rem;
  border-left: .0625rem solid #9c9c9c;
}

.Despesa {
  background-color: #ffff;
  list-style: none;
  padding: .625rem;
  border-radius: .3125rem;
}

.GrupoInfo {
  background-color: #ffff;
  margin-bottom: .625rem;
  padding: .625rem;
  border-radius: .3125rem;
}

.Grupo {
  list-style: none;
}

.Lista {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.NomePreco {
  display: flex;
  justify-content: space-between;
  >p{
    max-width: 60%;
    overflow: hidden;
    overflow-wrap: anywhere;
  }
}

.Descricao {
  border-bottom: .0625rem dashed #000;
  padding: .625rem 0;
}

.BordaDashed {
  border-top: .0625rem dashed #000;
}
.PaiDescricaoGrupo {
  background-color: #fff;
  padding: .3125rem .625rem;
  margin-bottom: .625rem;
}

.CardBottom {
  align-items: center;
  padding: .625rem 0 0 0;
}

.LapisLixeira {
  display: flex;
  gap: .3125rem;
  position: relative;
}

.LapisLixeira i {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.AbreFecha {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}
.OverflowHidden {
  overflow: hidden;
}
.Fechado {
  grid-template-rows: 0fr;
}
.NomePrecoGrupo {
  padding: .3125rem .625rem;
  background-color: #fff;
  border-top-left-radius: .3125rem;
  border-top-right-radius: .3125rem;
}

.Tipo {
  font-size: 1rem;
  color: #606060;
  padding: .3125rem;
  border-bottom: .0625rem solid #606060;
  margin-bottom: .3125rem;
}

h1 {
  font-size: 1.5rem;
}

#DespesasTitulo {
  position: sticky;
  top: 0;
  background-color: #fdd1b6;
  padding-top: .9375rem;
  padding-bottom: .3125rem;
}
button {
  cursor: pointer;
}

.Novo {
  border: .0625rem solid #ffa3ce ;
  text-align: center;
  border-radius: .3125rem;
}

.FilhoDoNovo {
  display: flex;
}

.NetoDoNovo > button {
  display: flex;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.VoDoNovo{
  height: 100%;
  display: flex;
  gap: 15px;
  
}

.PaiDoNovo{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.NetoDoNovo {
  position: relative;
  display: flex;
  min-width: 6.875rem;
  max-width: 6.875rem;
  max-height: 6.25rem;
  min-height: 6.25rem;
  align-items: center;
  justify-content: center;
}

.Novo > h1 {
  background-color: #ffa3ce ;
  font-weight: 500;
}

.NetoDoNovo:not(:last-child) {
  border-right: .0625rem solid #ffa3ce ;
}

.NetoDoNovo > button > i {
  font-size: 1.5rem;
}

.NetoDoNovo:hover {
  background-color: #fdd1b6;
}

main {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.Underline{
  text-decoration: underline;
}

.PrecoBitCoin{
  background-color: #00d26a;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 5px;

  border: #011627 5px dashed;
  
  animation: bitcoin 1s infinite alternate linear; 
}
@keyframes bitcoin {
  0%{
    border: #011627 5px dashed;
    background-color: #d9d9d9;
    
  }
  50%{
    border: #011627 5px dotted;
    
  }
  100%{
    border: #011627 5px solid;
    background-color: #fad532;

  }
}

.Celular{
  border-radius: 5px;
  height: 100%;
  iframe{
    
    overflow: hidden;
    
    min-height: calc(100%);
    max-height: calc(100% );
    width: 100%;
    
    }
  }
  .iframeContainer{
    border: 1px solid #ffa3ce ;
    min-height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .iframeContainer.Aberto{
    
    grid-template-rows: 1fr;
  }
  .TopBar{
  justify-content: space-between;
  background-color: #ffa3ce ;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  height: 50px;
}
.FilhoDoVoDoNovo{
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 100%;
  max-height: 100%;
  .bi {
    font-size: 1.5rem;
  }
}
.black{
  color: black;
}
.LapisLixeira>button{
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

