@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,#root{
    font-family: "Inria Sans", sans-serif;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.MenuHorizontal{
    font-size: smaller;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    color: #4A4A4A;
}

.Titulo{
    margin: 10px;
}

.MenuHorizontal_DD{
    margin: 15px;
    display: flex;
    gap: 5px;
    color: #4A4A4A;
}
.MenuHorizontal_DD button{
    background-color: transparent;
    border: none;
}

.Conteudo{
    display: flex;

}

.ListaDespesas{
    width: 375px;
    height: 85dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 85dvh;
    max-height: 85dvh;
}