@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,#root{
    font-family: "Inria Sans", sans-serif;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px;
}

.MenuHorizontal{
    font-size: smaller;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    color: #4A4A4A;
}

.Titulo{
    margin: 10px;
}

.MenuHorizontal_DD{
    margin: 15px;
    display: flex;
    gap: 5px;
    color: #4A4A4A;
}
.MenuHorizontal_DD button{
    background-color: transparent;
    border: none;
}

.Conteudo{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
}


.ListaDespesas::-webkit-scrollbar{
    background-color: #e6e6e6;
    width: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ListaDespesas::-webkit-scrollbar-thumb{
    background-color: #9c9c9c;
    border-radius: 5px;
}

.ListaDespesas{
    width: 375px;
    min-width: 375px;
    max-width: 375px;
    height: 85dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 85dvh;
    max-height: 85dvh;
    padding: 15px;
    padding-top: 0;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.ListaGrupo{
    padding-left: 10px;
    border-left: 1px solid #9c9c9c;
}

.Despesa{
    background-color: #ffff;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.GrupoInfo{
    background-color: #ffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.Grupo{
    list-style: none;
}

.Lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.NomePreco{
    display: flex;
    justify-content: space-between;
}

.Descricao{
    border-bottom: 1px dashed #000;
    padding: 10px 0;
}

.DescricaoGrupo{
    border-top: 1px dashed #000;
    padding-top: 10px;
}

.CategoriaData{
    padding-top: 10px;
}

.NomePrecoGrupo{
    padding-bottom: 10px;
}

.Tipo{
    font-size: 16px;
    color: #606060;
    padding: 5px;
    border-bottom: 1px solid #606060;
    margin-bottom: 5px;
}

h1{
    font-size: 24px;
}

#DespesasTitulo{
    position: sticky;
    top: 0;
    background-color: #e6e6e6;
    padding-top: 15px;
    padding-bottom: 5px;
}
button{
    cursor: pointer;
}