@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.Categoria{
    justify-content: space-between;
    color: #5c5c5c;
}

.CaixaCategoria{
    border: 1px solid #d9d9d9;
    height: 100%;
    max-width: 423px;
    max-width: 423px;
    padding: 10px;
}

.h1Categoria{
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

.ListaCategoria{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.UlCategoria{
    padding-left: 35px;
}