@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Inria Sans', sans-serif;
}

.NovaDespesa {
  display: flex;
  flex-direction: column;
  border: .0625rem solid #d9d9d9;
  border-radius: .3125rem;
  max-height: 85dvh;
  min-height: 85dvh;
  margin-top: .1875rem;
  background-color: #fff;
}

.NovaDespesa > h1 {
  background-color: #d9d9d9;
  font-weight: 500;
  text-align: center;
  padding: .625rem;
  height: 3.125rem;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.875rem;
}

.Caixa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(85dvh - 3.125rem);
}

.Form {
  display: flex;
  flex-direction: column;
  width: 28.125rem;
}

.Form label {
  margin-top: .625rem;
  margin-bottom: .25rem;
  font-weight: 400;
}

.DNome,
.DValor {
  padding: .9375rem 1.25rem;
  border-radius: .3125rem;
  border: .0625rem solid #d9d9d9;
  font-size: 1rem;
}

.DCaixa {
  max-height: 9rem;
  min-height: 9rem;
  padding: .9375rem 1.25rem;
  border-radius: .3125rem;
  resize: none;
  border: .0625rem solid #d9d9d9;
  font-size: 1rem;
}

.DataCategoria {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.DataCategoria label {
  display: flex;
}

.DataCategoria input[type="date"] {
  padding: .5rem;
  border-radius: .3125rem;
  border: .0625rem solid #d9d9d9;
  font-size: 1rem;
}

.DCategoria {
  display: flex;
  width: 45%;
}

.DCategoria select {
  padding: .5rem;
  border-radius: .3125rem;
  border: .0625rem solid #d9d9d9;
  font-size: 1rem;
}

.TipoSubmit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.TipoSubmit label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .3rem;
}

.TipoSubmit button {
  padding: .625rem 1.25rem;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: .3125rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TipoSubmit button:hover {
  background-color: #444;
}

.ParenteBarra > button{
  width: 100%;
  max-height: 3rem;
  min-height: 3rem;
  border-radius: .3125rem;
  resize: none;
  border: .0625rem solid #d9d9d9;
  text-align: start;
  font-size: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: transparent;
}

.ParenteBarra{
  display: flex;
  flex-direction: column;
}

.Alinhamento{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.DataCategoria{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.novoGrupo{
  top: 0;
  left: 0;
}