@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  font-family: 'Inria Sans', sans-serif;
  box-sizing: border-box;
}


.h1NovoGrupo {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
  color: #000000;
}

.novoGrupo{
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.CaixaNovoGrupo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}


.BoxNovoGrupo,
.BoxNovoGrupo2 {
  width: 21.875rem;
  padding: .9375rem 1.5625rem;
  font-size: .875rem;
  color: #000000;
  background-color: transparent;
  border: .0625rem solid #d9d9d9;
  border-radius: .3125rem;
  margin-bottom: .3125rem;
}

.BoxNovoGrupo2 {
  resize: none;
  height: 7.5rem;
}


.x {
  position: absolute;
  top: .9375rem;
  right: .9375rem;
  background: none;
  border: none;
  font-size: 1.5625rem;
  color: #d9d9d9;
  cursor: pointer;
}


.radio-options {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-top: .3125rem;
}

.radio-options label {
  display: flex;
  align-items: center;
  gap: .3125rem;
  font-size: .875rem;
  color: #000;
}


.Barra {
  width: 100%;
  display: flex;
  gap: .625rem;
  background: transparent;
  margin-top: .3125rem;
}

.Barra > button{
    width: 100%;
  height: 2.9375rem;
  padding: 0 .9375rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #d9d9d9;
  border: .0625rem solid #d9d9d9;
  border-radius: .3125rem;
  cursor: pointer;
  text-align: left;
  max-width: calc(21.875rem - 3.375rem);
  overflow: hidden;
}

.Barra > button:first-child {
  width: 100%;
  height: 2.9375rem;
  padding: 0 .9375rem;
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  background-color: transparent;
  border: .0625rem solid #d9d9d9;
  border-radius: .3125rem;
  cursor: pointer;
  text-align: left;
}

.Barra > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.BarraButton {
  width: fit-content !important;
  text-align: center !important;
  background-color: transparent;
}


.Button {
  width: 3.375rem;
  height: 2.9375rem;
}


.novoGrupo label {
  color: #d9d9d9;
  font-size: .875rem;
  margin-right: .9375rem;
  display: flex;
  align-items: center;
  gap: .3125rem;
}
